<div class="uk-width-expand@m">
  <div class="uk-card uk-card-default uk-width-auto@m">
    <div class="uk-card-media-top">
      <img src="{{image}}" alt="{{name}}" style="max-height: 200px;">
      <div class=" uk-card-body">
        <h3 class="uk-card-title nombre-producto">{{name}} {{Qty}}</h3>
        <p>{{type}}</p>
        <h2>$ {{price}}</h2>
        <button id="agregar" onclick="createNewItemRow({{price}}, '{{name}}')" class="add-to-cart carrito uk-button uk-button-primary uk-button-small"><i class="fas fa-cart-plus"></i> Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>